body, html {
    height: 100%;
    
}  

.navigation {
    background: silver;
    backdrop-filter: blur(5px);
    padding-right: 16px;
    margin: 10px;
    border-radius: 10px;
}

.background-pic {
    background-image: url(img/skyline.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.about-page-background {
    background-image: url(img/NhmAYq.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.name {
    font-size: 80px;
    color:mintcream;
    padding-top: 15%;
    padding-bottom: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.background-text {
    font-size: 50px;
    color:mintcream;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.about-me-name {
    font-size: 80px;
    color:mintcream;
    padding-top: 15%;
    margin-bottom: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.about-me-text {
    font-size: 50px;
    color:mintcream;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

/*
.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
    border: 4px solid black;
    border-radius: 40px;
The margins are top, right, bottom, left
    margin: 5% 10% 0% 50%;
}
*/

footer {
    background-color:silver;
    padding-top: 18px;

}

.social {
    font-size: 50px;
    padding-bottom: 18px;

}

.fa-instagram {
    color:#DC25F4
}

.fa-linkedin {
    color:#1C6FD0
}

.fa-instagram:hover {
    color:#a8a8a8
}

.fa-linkedin:hover {
    color:#a8a8a8;
}