/* Creates color variables (accessed via: var(--main-color) etc.)*/
:root{
    /* --main-color: #29487D;
    --side-color: #1DA1F2; */
    --text-color: #ffffff;
}

body, html {
    /* height: 100%; */
    line-height: 1.2 !important; /* Changes line-height from 1.5 since there was too much space in-between lines */
    background-color: #26242b;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    /* Added smooth scrolling so that when using "bookmarks" it doesn't instantly teleport you */
    scroll-behavior: smooth;
    
}

/* Customizes the scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border: 3px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Backgrounds images (photo and later color/gradient) */

/* Navigation Bar */

#navbar-hide {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    padding-right: 16px;
    margin: 10px;
    border-radius: 10px;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.275);
}

/* Body Text */

#introduction {
    padding-top: 38vh;
}

.name {
    font-size: 10vmin; /* Uses vmin to keep consistency (80px originally) */
    color: var(--text-color);
    padding-bottom: 0%; /* 0% */
    margin-bottom: auto;
    font-family: 'Times New Roman', Times, serif;
}
.background-text {
    font-size: 4.8vmin; /* 50px */
    color: var(--text-color);
    padding-bottom: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/* About Me Section */

#about-me {
    padding: 48vmin 12vmin 40vmin 12vmin;
}

.normal-text {
    font-size: 3.6vmin; /* 50px */
    color: var(--text-color);
    padding-bottom: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.about-image {
    height: 28vmin;
    width: auto;
    border-radius: 50%;
}

/* Experience Section */

#experience {
    padding: 48vmin 12vmin 40vmin 12vmin;
}


/* Projects Section */

#projects {
    padding: 48vmin 12vmin 40vmin 12vmin;
}


/* Contact Section (change to rem, %, or vh) */

#contact-me {
    padding-top: 10vmin;
    font-size: 50px;
    padding-bottom: 18px;
}

.social-spacing {
    padding: 1vmin 1vmin 1vmin 1vmin;
}

.fa-instagram {
    color:#DC25F4;
}

.fa-linkedin {
    color:#1C6FD0;
}

.fa-github {
    color:#5f5c61;
}

.fa-instagram:hover {
    color:#a8a8a8;
}

.fa-linkedin:hover {
    color:#a8a8a8;
}

.fa-github:hover {
    color: #a8a8a8;
}